:root {
    --questionmark-one-light: #6BF193;
    --questionmark-one-dark: #1FF760;
    --questionmark-two-light: #f16bc9;
    --questionmark-two-dark: #f71fb6;

    --questionmark-outline-width-start: 2px;
    --questionmark-outline-width-end: 3px;
}

.\?\? {
    outline-style: solid;
    outline-width: var(--questionmark-outline-width-start);
    outline-color: var(--questionmark-one-light);
    box-shadow: inset 2px 2px var(--questionmark-one-light), inset -2px -2px var(--questionmark-one-light);
    animation: \?\?wobble 0.6s ease-in-out alternate infinite;
}

@keyframes \?\?wobble {
    0% {
        outline-width: var(--questionmark-outline-width-start);
        outline-color: var(--questionmark-one-light);
        box-shadow: inset 2px 2px var(--questionmark-one-light), inset -2px -2px var(--questionmark-one-light);
    }

    100% {
        outline-width: var(--questionmark-outline-width-end);
        outline-color: var(--questionmark-one-dark);
        box-shadow: inset 3px 3px var(--questionmark-one-dark), inset -3px -3px var(--questionmark-one-dark);
    }
}

.\? {
    outline-style: solid;
    outline-width: var(--questionmark-outline-width-start);
    outline-color: var(--questionmark-two-light);
    box-shadow: inset 2px 2px var(--questionmark-two-light), inset -2px -2px var(--questionmark-two-light);
    animation: \?wobble 0.6s ease-in-out alternate infinite;
}

@keyframes \?wobble {
    0% {
        outline-width: var(--questionmark-outline-width-start);
        outline-color: var(--questionmark-two-light);
        box-shadow: inset 2px 2px var(--questionmark-two-light), inset -2px -2px var(--questionmark-two-light);
    }

    100% {
        outline-width: var(--questionmark-outline-width-end);
        outline-color: var(--questionmark-two-dark);
        box-shadow: inset 3px 3px var(--questionmark-two-dark), inset -3px -3px var(--questionmark-two-dark);
    }
}